.container-fluid {
  height: 100vh;
  
}



.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.home{
  width:400px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}
.home a{
  text-decoration: none;
  color: green;
}

.name-box {
  
  display: inline-block;
  padding: 5px 4px 5px 35px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  color: black;
  


}
h3{
  padding: 10px 0px ;
  
}
.pass-box {
  display: inline-block;
  padding: 5px 4px 5px 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  
  
}
.pass-box:hover{
  
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
 }
 .name-box:hover{
  
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
 }
.btn-sub {
  border-radius: 4px;
  width: 260px;
  display: block;
  margin: auto;
  padding: 5px;
  background-color: rgb(3, 108, 168);
  border: none;
  color: white;

}
.btn-sub a{
  text-decoration: none;
  color: white;
}
.btn-sub:hover{
 background-color: black;
 box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

.form i{
  
  position: absolute;
}
.icon {
  

  margin-left: -255px;
  
  
 
}
.link-btn{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 10px;
}
.OR{
  padding: 10px;
  display: block;
}
.login-with{
  font-size: 12px;
}
.logo-link{
 padding: 10px;
}
.logo-item{
  padding: 20px 30px;
  font-size: 20px;

}
.apl{
  color: black;
  font-size: 30px;
}
.fbl{
  font-size: 30px;
}
.logo-link a {
  text-decoration: none;
  
}
/* change screen */
@media  screen and (max-width:480) {

  
}