*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}

.container{
    background-color: rgb(255, 255, 255);
    padding: px 10px;
    border-radius: 10px;
}

.nav{
    
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    
    align-items: center;
}
.logo-size{
    font-size: 40px;

}
.nav-ul{
    list-style-type: none;
    display: flex;
    gap: 0px 10px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 6px;
}
.btn{
    padding: 8px 6px;
    border-radius: 7px;
    background-color: transparent;
}
.buy-btn{
    padding: 8px 6px;
    border-radius: 7px;
    color: white;
    width: 100px;
    margin-top: 5px;
    
    background-color: rgb(15, 10, 10);
}
.buy-btn:hover{
    background-color: rgb(161, 157, 157);
    color: black;
    
}

.btn:hover{
    background-color: rgb(15, 10, 10);
    color: rgb(255, 255, 255);
}
.main-body{
    
    padding: 20px;
    margin-top: 20px;
    
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    
}
.card-img{
    
    height: auto;
    
    
}
.iphone{
    height: 500px;
}
.card-title{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;


}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}
.footer{
    display: flex;

    background-color: rgb(6, 6, 26);
    padding: 10px;
    color: white;
    flex-wrap: wrap;
    font-size: 13px;
}
.footer-head{
    text-align: center;
}
.footer-link{
    width: 100px;
}
.footer-tap{
    
    
align-items: center;
}
.footer-ul{
    list-style: none;
    color: white;


}

.footer-ul a{
    text-decoration: none;
    color: white;
    font-size: 11px;
}
.credit{
    color: white;
    width: 100%;
    text-align: center;
}
.burger{
    display: none;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    background-color: aquamarine;
    border-radius: 3px;
}
.switch{
    padding: 0px 10px;
    background-color: transparent;
    border: none;
}
.switch:hover{
    font-size: 18px;
    font-weight: bold;
}
.link{
    display: none;
}
#hiddenul{
   
    display: none;
    width: 100%;
    position: relative;
    
    
}
.hli a{
    text-decoration: none;
    color: black;
    
}
.hli{
    list-style: none;
    width: 100%;
    
    padding: 10px 10px;
    
    
}
.hli:hover{
    background-color: rgb(109, 107, 107);
    color: white;
    
}


@media screen and (max-width:480px){
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
}